:root {
    --primary-colour: #292820;
    --secondary-colour: #f39c12;
    --tertiary-colour: #da5213;
    --quaternary-colour: #f1d716;
    --off-white-colour: #dee2f0;
    --secondary-off-white-colour: #b7bcce;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: var(--off-white-colour);
    background-color: var(--secondary-off-white-colour);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--primary-colour);
    height: 10vh;
    z-index: 1;
}


nav {
    display: flex;
    justify-content: flex-end;
    z-index: 999;
}

nav ul {
    display: flex;
    height: 10vh;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

nav li {
    margin-left: 30px;
    color: var(--secondary-off-white-colour);
    text-decoration: underline;
    text-decoration-color: var(--secondary-colour);
    text-decoration-thickness: 0.2em;
}

nav li:hover {
    text-decoration-color: var(--tertiary-colour);
    transition: all 0.5s ease-in-out;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hero-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transform: translateY(-10vh);
    z-index: 0;
}

.hero-bg {
    background: rgba(0, 0, 0, 0.9);
    border-color: var(--secondary-colour);
    border-style: solid;
    padding: 30px;
    size: fit-content;
    border-width: 5px;
    border-radius: 15px;
}

.portfolio-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

#hero {
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: 10vh;
    text-shadow: 2px 2px 1px rgba(78, 75, 75, 1);
}

#hero h1,
#hero h2 {
    color: var(--quaternary-colour);
    animation: fade-in-and-zoom 2s ease-in-out forwards;
}

#hero h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    opacity: 0;
    animation-delay: 0.5s;
}

#hero h2 {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    animation-delay: 1s;
}

.hero-bg:hover {
    transition: all 0.5s ease-in-out;
    text-shadow: 2px 2px 2px rgba(222, 142, 14, 0.8);
}

#contact {
    background-color: var(--primary-colour);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* reveal from center wipe */
@keyframes reveal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    
}

@keyframes fade-in-and-zoom {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
        scale: 1;
    }
    80% {
        scale: 1.05;
    }

}