:root {
    --primary-colour: #292820;
    --secondary-colour: #f39c12;
    --tertiary-colour: #da5213;
    --quaternary-colour: #f1d716;
    --off-white-colour: #dee2f0;
    --secondary-off-white-colour: #b7bcce;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: var(--off-white-colour);
    background-color: var(--secondary-off-white-colour);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--primary-colour);
    height: 10vh;
    z-index: 1;
}

header div {
    width: 300px;
}

header div h1 {
    text-align: center;
    position: relative;
    top: 50%;
    width: 100%;
    min-width: fit-content;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* navigation bar setup */
nav {
    display: flex;
    justify-content: flex-end;
    z-index: 999;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul {
    height: 10vh;
    margin-right: 50px;
}

nav li {
    min-width: fit-content;
    margin-left: 30px;
    color: var(--secondary-off-white-colour);
    text-decoration: underline;
    text-decoration-color: var(--secondary-colour);
    text-decoration-thickness: 0.2em;
}

nav li:hover {
    text-decoration-color: var(--tertiary-colour);
    transition: all 0.5s ease-in-out;
}

/* section styling for About, Portfolio and Contact pages */
#about {
    height: 300px;
}

.hero-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transform: translateY(-10vh);
    z-index: 0;
}

.hero-bg {
    background: rgba(0, 0, 0, 0.9);
    border-color: var(--secondary-colour);
    border-style: solid;
    padding: 30px;
    size: fit-content;
    border-width: 5px;
    border-radius: 15px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

main section {
    padding-top: 12vh;
    margin-top: -10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
}

main section h2 {
    color: var(--primary-colour);
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}

/* generic content styling */

.content {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-left: 30px;
    width: 100%;
}

.content p, 
.content div {
    text-align: left;
    align-self: left;
    width: 100%;
}

/* portfolio/showcase items styling */

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: auto;
    align-items: center;
}


.portfolio-item {
    width: 50%;
    filter: grayscale(80%);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}


.portfolio-item img {
    width: 100%;
    height: 100%;
}

.key-project {
    width: 100%;
}

.portfolio-item h3,
.portfolio-item p {
    position: relative;
    z-index: 1;
}

.portfolio-item h3 {
    background-color: var(--tertiary-colour);
    margin: auto;
    width: 100%;
    bottom: 43px;
    color: var(--off-white-colour);
    padding: 10px 30px 10px 5px;
}

.portfolio-item img {
    border-style: solid;
    border-radius: 2px;
    border-color: var(--tertiary-colour);
}

.portfolio-item:hover {
    animation: remove-grayscale 0.5s ease-in-out forwards;
}


/* Contact details styling */
#contact {
    height: 300px;
}

#contact ul {
    justify-content: space-between;
}

#contact li {
    font-size: 1.8rem;
    color: var(--primary-colour);
    text-decoration: underline;
    text-decoration-color: var(--secondary-colour);
    text-decoration-thickness: 0.2em;
    text-align: left;
}

/* Footer styling */
footer p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-colour);
    margin-top: 10px;
}
/* Hero styling and animations */

#hero {
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: 10vh;
    text-shadow: 2px 2px 1px rgba(78, 75, 75, 1);
}

#hero h1,
#hero h2 {
    color: var(--quaternary-colour);
    animation: fade-in-and-zoom 2s ease-in-out forwards;
}

#hero h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    opacity: 0;
    animation-delay: 0.5s;
}

#hero h2 {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    animation-delay: 1s;
}

.hero-bg:hover {
    transition: all 0.5s ease-in-out;
    text-shadow: 2px 2px 2px rgba(222, 142, 14, 0.8);
}

/* custom animation to show image on highlight */
@keyframes remove-grayscale {
    0% {
        filter: grayscale(80%);
    }
    100%{
        filter: grayscale(0%);
    }
}

/* custom animation on initial page load/refresh */
@keyframes fade-in-and-zoom {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
        scale: 1;
    }
    80% {
        scale: 1.05;
    }

}

/* responsive sizing for tablet displays */
@media screen and (max-width: 1280px) {
    header h1 {
        font-size: 1.5rem;
    }

    main {
        width: 80%;
    }

    main section {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    
    .portfolio-items {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 30px auto 0 auto;
    }
    .portfolio-item {
        height: 100%;
        width: 100%;
    }
    .portfolio-item img {
        height: 100%;
        width: 100%;
    }
    .content {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }

    .content p {
        text-align: center;
    }
    
    #contact {
        height: 200px
    }

    #contact ul {
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }
    #contact li {
        width: 33%;
        text-align: center;
    }
    
}

/* responsive sizing for tablet displays */
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 1rem;
    }

    nav ul li {
        font-size: 0.9rem;

    }

    main {
        width: 95%;
    }
    #hero h1 {
        font-size: 2rem;
    }
    #hero h2 {
        font-size: 1.4rem;
    }
    
}